<div class="card text-bg-light mb-4 mt-3 mx-auto d-flex flex-row" style="width: 30rem;">
  <div class="card-body">
    <p class="card-title"><strong>Name:</strong> <%= spending.name %></p>
  </div>
  <div class="card-body d-flex justify-content-end">
     <p class="card-title"><strong>Spent:</strong> $<%= spending.amount %></p>
  </div>
</div>