.center-text {
  position: absolute;
  top: 40%;
  left: 50%;
  font-family: cursive;
  font-weight: 700;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* Custom styles for full-width buttons */
.full-width-button {
  width: 100%;
  font-size: 20px;
  border: none;
  border-radius: 2px;
  padding: 0.5em 0.5em;
}

.full-width-button-container {
  width: 95%;
}
.btn-1 {
  background-color: #3778c2;
  color: white;
}

.btn-2 {
  background-color: #e9ecf0;
  color: #8e9399;
}

.btn-1:hover {
  background-color: #659edf;
}

.btn-2:hover {
  background-color: #d5d8db;
}

.btn-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
