<div class="container-fluid">
    <div class="row fixed-bottom btn-welcome">
        <div class="full-width-button-container btn btn-success-category">
                <%= button_to "Create New Category", new_user_registration_path,class:"btn-categories-add btn-success-category", method: :get %>
        </div>
    </div>
</div>
