
<div class="mb-4">
<% @categories.each do |category| %>
    <a href="/categories/<%= category.id %>">
        <%= render category%>
    </a>
<% end %>
</div>



<%= render "categories/button_category_spendings"%>
